@angriff36:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}
link-workspace-packages=false
shamefully-hoist=true
strict-peer-dependencies=false
fetch-timeout=60000
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
